.down {
    display:flex;
    flex-direction: column;
    gap: 20px
}
button {
    padding: 5px;
    background-color: white;
    color: black;
    font-size: 12px;
    width: 100px;
    position: fixed;
    bottom: 5px;
    right: 5px;
      
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
 body {
    background-color: aqua;
 }